body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#app {
    width: 1024px;
    height: 768px;
    padding: 25px;
    background: #f0f3f6;
}

.grid-section{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background: #fff;
}
.image-section:nth-of-type(1){
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image-section:nth-of-type(2){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-end: 3;
    grid-row-start: 1;
}

.image-section:nth-of-type(3){
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-end: 1;
    grid-row-start: 2;
}

.image-section:nth-of-type(4){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    grid-row-start: 3;
}

.image-section:nth-of-type(5){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    grid-row-start: 3;
}

.image-section:nth-of-type(6){
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-end: 2;
    grid-row-start: 3;
}

.image-section:nth-of-type(7){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 3;
    grid-row-start: 4;
}

.image-section:nth-of-type(8){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end: 3;
    grid-row-start: 4;
}